@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    overflow-x: hidden;
}

body {
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #abacae;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

section {
    display: block
}

header {
    display: block;
}

p {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: black;
}

.medium-4,
.medium-6,
.medium-12,
.large-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .large-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .large-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

.menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 20px;
    background: rgba(0, 0, 0, 0.69);
    height: 68px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    color: white;
    float: right;
    margin-right: 50px;
}

.menu li a {
    padding: 12px 16px;
    display: block;
}

.second-section {
    background-color: #383838;
}

.third-section {
    background-color: #fff;
}

.fourth-section {
    background-color: #FF7630;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: nowrap;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-width: 992px !important
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.text-center {
    text-align: center !important;
}

.logo {
    float: left;
    margin: -8px 0px 0px 95px
}

.button-separator {
    margin: 40px 0px;
}

.separator {
    margin: 20px 0px 65px;
}


/* ==========================================================================
 Main area
========================================================================== */
#main-area {
    overflow: hidden;
    position: relative;
    background: url(../images/bkg_1_1.png);
    height: inherit;
    background-size: cover;
}

#main-area .contents {
    padding: 900px 0px 50px;
}

#main-area .contents .head-title {
    text-transform: uppercase;
    font-size: 51px;
    line-height: 59.77px;
    font-weight: 800;
    margin-bottom: 30px;
}

#main-area .contents .sous-title {
    text-transform: uppercase;
    font-size: 79px;
    line-height: 92.58px;
    font-weight: 900;
    margin-bottom: 30px;
}

/* ==========================================================================
 SECTIONS
========================================================================== */
.contents {
    padding: 80px 0px 50px;
}

.contents .title {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 52.73px;
    font-weight: 900;
}

.contents .sous-title {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42.19px;
    font-weight: 900;
}

.contents .caption {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 700;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.text-bottom {
    display: block;
}

.img-third-section {
    width: 615px;
    height: 411px;
    left: 748px;
    top: 1751px;
}